import { FormsModule } from '@angular/forms';
<h1><!--<img src ="images/topimage.png"/>--></h1>

<div class = "padEntireBody">

  
     <div class = "westernInformation">     
     <p> As Western University continues to respond to the changing circumstances surrounding the COVID-19 pandemic, the Fall/Winter 2020-2021 course offerings may be subject to change. As you plan your course selections, we encourage you to review the Academic Timetable regularly and follow updates on <a class= "link" href = "https://www.uwo.ca/coronavirus/students.html">  Western's COVID-19 website. </a> </p>

     <p>Please Note: Due to uncertainty around COVID-19, students must have a reliable internet connection and computer that are compatible with online learning and testing system requirements. Some courses may also require the use of a remote proctoring platform (such as Proctortrack) to ensure tests are taken fairly in accordance with Western's policy on Scholastic Discipline for Undergraduate Students and Scholastic Discipline for Graduate Students.</p>
     
     <p>Please refer to the course syllabus and <a class= "link"href ="https://remoteproctoring.uwo.ca/"> Western's remote proctoring website for further information. </a> </p>
     </div>


    <div class = "searchSection">     
      <p> 
      Search
      </p>
    </div>

    <table>
      <tr>
        <td>
          <div name="subjectSelection" id="subjectSelection">

          <p class ="boldentext">Search</p>

          <div class="required-field">Subject:</div>
          <select name="subjectDropDown" id="subjectDropDown">
            <option value="">All Subjects
            </option><option value="ACTURSCI"> Actuarial Science 
            </option><option value="AMERICAN"> American Studies 
            </option><option value="ANATCELL"> Anatomy and Cell Biology 
            </option><option value="ANTHRO"> Anthropology 
            </option><option value="APPLMATH"> Applied Mathematics 
            </option><option value="ARABIC"> Arabic 
            </option><option value="AH"> Art History 
            </option><option value="ARTHUM"> Arts and Humanities 
            </option><option value="ASTRONOM"> Astronomy 
            </option><option value="BIBLSTUD"> Biblical Studies 
            </option><option value="BIOCHEM"> Biochemistry 
            </option><option value="BIOLOGY"> Biology 
            </option><option value="BME"> Biomedical Engineering 
            </option><option value="BIOSTATS"> Biostatistics 
            </option><option value="BUSINESS"> Business Administration 
            </option><option value="CALCULUS"> Calculus 
            </option><option value="CGS"> Centre for Global Studies 
            </option><option value="CBE"> Chem &amp; Biochem Engineering 
            </option><option value="CHEMBIO"> Chemical Biology 
            </option><option value="CHEM"> Chemistry 
            </option><option value="CSI"> Childhood &amp; Social Institutns 
            </option><option value="CHINESE"> Chinese 
            </option><option value="CHURCH"> Church History 
            </option><option value="CHURLAW"> Church Law 
            </option><option value="CHURMUSI"> Church Music 
            </option><option value="CEE"> Civil &amp; Envrnmntl Engineering 
            </option><option value="CLASSICS"> Classical Studies 
            </option><option value="CMBPROG"> Combined Program Enrollment 
            </option><option value="COMMSCI"> Communication Sci &amp; Disorders 
            </option><option value="COMPLIT"> Comparative Lit &amp; Culture 
            </option><option value="COMPSCI"> Computer Science 
            </option><option value="CA"> Creative Arts 
            </option><option value="DANCE"> Dance 
            </option><option value="DIGICOMM"> Digital Communication 
            </option><option value="DIGIHUM"> Digital Humanities 
            </option><option value="DISABST"> Disability Studies 
            </option><option value="EARTHSCI"> Earth Sciences 
            </option><option value="ECONOMIC"> Economics 
            </option><option value="EELC"> Education English Language Cen 
            </option><option value="ECE"> Elect &amp; Computer Engineering 
            </option><option value="ENGSCI"> Engineering Science 
            </option><option value="ENGLISH"> English 
            </option><option value="ENVIRSCI"> Environmental Science 
            </option><option value="EPID"> Epidemiology 
            </option><option value="EPIDEMIO"> Epidemiology &amp; Biostatistics 
            </option><option value="FIMS"> FIMS 
            </option><option value="FAMLYSTU"> Family Studies &amp; Human Develop 
            </option><option value="FLDEDUC"> Field Education 
            </option><option value="FILM"> Film Studies 
            </option><option value="FINMOD"> Financial Modelling 
            </option><option value="FOODNUTR"> Foods and Nutrition 
            </option><option value="FRENCH"> French 
            </option><option value="GEOGRAPH"> Geography 
            </option><option value="GEOLOGY"> Geology 
            </option><option value="GERMAN"> German 
            </option><option value="GGB"> Global Great Books 
            </option><option value="GLE"> Governance,Leadership &amp; Ethics 
            </option><option value="GREEK"> Greek 
            </option><option value="GPE"> Green Process Engineering 
            </option><option value="HEALTSCI"> Health Sciences 
            </option><option value="HEBREW"> Hebrew 
            </option><option value="HISTTHEO"> Historical Theology 
            </option><option value="HISTORY"> History 
            </option><option value="HISTSCI"> History of Science 
            </option><option value="HOMILET"> Homiletics 
            </option><option value="HUMANECO"> Human Ecology 
            </option><option value="HUMANRS"> Human Rights Studies 
            </option><option value="INDIGSTU"> Indigenous Studies 
            </option><option value="INTEGSCI"> Integrated Science 
            </option><option value="ICC"> Intercultural Communications 
            </option><option value="INTERDIS"> Interdisciplinary Studies 
            </option><option value="INTREL"> International Relations 
            </option><option value="ITALIAN"> Italian 
            </option><option value="JAPANESE"> Japanese 
            </option><option value="JEWISH"> Jewish Studies 
            </option><option value="MTP-BRJR"> Journalism-Broadcasting Fanshw 
            </option><option value="KINESIOL"> Kinesiology 
            </option><option value="LATIN"> Latin 
            </option><option value="LAW"> Law 
            </option><option value="LS"> Leadership Studies 
            </option><option value="LINGUIST"> Linguistics 
            </option><option value="LITURST"> Liturgical Studies 
            </option><option value="LITURGIC"> Liturgics 
            </option><option value="MOS"> Management &amp; Organizational St 
            </option><option value="MTP-MKTG"> Marketing - Fanshawe 
            </option><option value="MATH"> Mathematics 
            </option><option value="MME"> Mech &amp; Materials Engineering 
            </option><option value="MSE"> Mechatronic Systems Engineerin 
            </option><option value="MIT"> Media, Information &amp;Technocult 
            </option><option value="MEDBIO"> Medical Biophysics 
            </option><option value="MEDHINFO"> Medical Health Informatics 
            </option><option value="MEDSCIEN"> Medical Sciences 
            </option><option value="MEDIEVAL"> Medieval Studies 
            </option><option value="MICROIMM"> Microbiology &amp; Immunology 
            </option><option value="MORALTHE"> Moral Theology 
            </option><option value="MTP-MMED"> Multimed Dsgn &amp; Prod Fanshawe 
            </option><option value="MCS"> Museum and Curatorial Studies 
            </option><option value="MUSIC"> Music 
            </option><option value="NEURO"> Neuroscience 
            </option><option value="NURSING"> Nursing 
            </option><option value="ONEHEALT"> One Health 
            </option><option value="PASTTHEO"> Pastoral Theology 
            </option><option value="PATHOL"> Pathology 
            </option><option value="PERSIAN"> Persian 
            </option><option value="PHARM"> Pharmacology 
            </option><option value="PHILST"> Philosophical Studies 
            </option><option value="PHILOSOP"> Philosophy 
            </option><option value="PHYSICS"> Physics 
            </option><option value="PHYSIOL"> Physiology 
            </option><option value="PHYSPHRM"> Physiology and Pharmacology 
            </option><option value="POLISCI"> Political Science 
            </option><option value="PPE"> Politics, Philosophy, Economic 
            </option><option value="PSYCHOL"> Psychology 
            </option><option value="REHABSCI"> Rehabilitation Sciences 
            </option><option value="RELEDUC"> Religious Education 
            </option><option value="RELSTUD"> Religious Studies 
            </option><option value="SACRTHEO"> Sacramental Theology 
            </option><option value="SCHOLARS"> Scholars Electives 
            </option><option value="SCIENCE"> Science 
            </option><option value="SOCLJUST"> Social Justice &amp; Peace Studies 
            </option><option value="SOCSCI"> Social Science 
            </option><option value="SOCWORK"> Social Work 
            </option><option value="SOCIOLOG"> Sociology 
            </option><option value="SE"> Software Engineering 
            </option><option value="SPANISH"> Spanish 
            </option><option value="SPEECH"> Speech 
            </option><option value="SPIRTHEO"> Spiritual Theology 
            </option><option value="STATS"> Statistical Sciences 
            </option><option value="SA"> Studio Art 
            </option><option value="SYSTHEO"> Systematic Theology 
            </option><option value="THANAT"> Thanatology 
            </option><option value="THEATRE"> Theatre Studies 
            </option><option value="THEOETH"> Theological Ethics 
            </option><option value="THEOLST"> Theological Studies 
            </option><option value="THESIS"> Thesis 
            </option><option value="TJ"> Transitional Justice 
            </option><option value="VISARTS"> Visual Arts 
            </option><option value="WTC"> Western Thought &amp; Civilization 
            </option><option value="WOMENST"> Women's Studies 
            </option><option value="WORLDLIT"> World Literatures and Cultures 
            </option><option value="WRITING"> Writing</option>
          </select>

          <div class="optional-field">Course Number:</div>
          <input id ="courseNumber" type="text" placeholder="eg. 1023B">          

          <div class="optional-field">Course Component:</div>
            <select id ="componentDropdown" type="text" placeholder="LEC, TUT or LAB">
              <option>All</option>
              <option>Lecture</option>
              <option>Tutorial</option>
              <option>Labotory</option>
            </select>
          </div>

          <div class="submit">
            <button type="submit" class="btn btn-info span2" autofocus="" (click)="searchSubmitted()">Search</button> 
          </div>
      </td>
      <td>
        <div name="scheduleCreateSection" id="subjectSelection">
          <p class ="boldentext">Create a Schedule</p>
          <input id ="scheduleName" type="text" placeholder="morning classes">   
          <div class="submit">
            <button type="submit" class="btn btn-info span2" autofocus="" (click)="createSchedule(this.value)">Create Schedule</button> 
          </div>
        </div>
      </td>

      <!-- Schedule Dropdown Section To Seleect Active Schedule-->
      <td class="scheduleInfoColumn">
        Active Schedule
        <select>
          <option *ngFor="let key of scheduleData">{{key}}</option>
        </select>
      </td>

      <td class="scheduleSelectColumn" >
          <div id="scheduleSelectContainer"></div>
      </td>
   
  </table>

    <div class="lineDivider"></div> 


    <div id="infoTableContainer" *ngIf="showInfoTable" > 
      <table>
        <tr>
          <td *ngFor="let label of columnLabels">{{ label }}</td> <!-- Header Column: Loop Through Header Object -->
        </tr>  

        <tr *ngFor="let course of data"> 
          <ng-container *ngFor="let property of objectKeys(course)">
            <td *ngIf="property != 'course_info'">{{ course[property] }} </td> <!--dont render data from course_info property-->
          </ng-container> 
          <td><input type="checkbox" [(ngModel)]='checkboxValue' (change)="courseSelected(data[course], checkboxValue)">Add to Schedule</td>
        </tr>
      </table>
    </div> 

    <div id="timeTableContainer" *ngIf="showTimeTable" ></div> <!--render time table here -->
</div>
